* {
    bg-col:  #292929;
    bg-col-light: #C3C2C0;
    border-col: #222222;
    selected-col: #4A554A;
    blue: #C5E5A5;
    fg-col: #C3C2C0;
    fg-col2:#C5E5A5;
    grey: #C3C2C0;
    width: 600;
}

